@charset "utf-8";
/* CSS Document */
html {
    background: #eee;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    padding-top: 70px;
    background: rgba(0, 0, 0, 0);
}

.wl-box {
    background: #fff;
    color: #333;
    font-family: "微软雅黑", "Microsoft YaHei";
    font-size: 15px;
    margin: auto auto;
    margin-top: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    max-width: 700px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    border: 0;
}

.wl-box-large {

    max-width: 1700px;
}

.wl-nav {
    font-family: "Consola", "微软雅黑";
}

.wl-main > div {
    clear: both;
    color: #666;
    font: "微软雅黑";
    padding-top: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: "Consola", "微软雅黑";
}

h2 {
    font: 20px "微软雅黑", "Microsoft YaHei", sans-serif;
    margin-top: 10px;
    padding-bottom: 3px;
}

#tpage code {
    font-family: Consolas, Monaco, monospace;
}

a {
    color: #21759B;
    text-decoration: none;
}

a:hover {
    color: #D54E21;
}

.wl-mess {
    color: red;
}

.has-error label {
    color: red;
}

.has-error {
    /*border: dashed;
    border-color: red;
    border-width: thin;*/
}

.wl-errmsg {
    padding-left: 9px;
}

.wl-bobutton {
    text-align: right;
}

.list-group-item {
    font-size: large;
}

SVIP {
    color: #DAA520;
}

.wl-v {
    padding-left: 8px;
}

p {
    font-family: "Consola", "微软雅黑";
}

ab {
    padding-left: 10px;
}

.m-hover {
}

.list-group-item:hover {
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(0.7px); /* Chrome, Opera */
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

.m-footer {
    text-align: center;
    margin-top: 1em;
    padding-bottom: 1em;
}

.m-footer button {
    padding-left: 20px;
}

.btn-raised {
    padding-left: 20px;
}

body {
    null: null;
}

.u-nav > ul {
    background-color: rgba(0, 0, 0, 0);

}

.spinner {
    width: 40px;
    height: 40px;

    position: fixed;
    left: 50%;
    top: 10px;
    /*margin: 100px auto;*/
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

.u-nav button {
    font-family: "Consola", "微软雅黑";
    color: black;
}

.wl-box, .wl-nav, .btn-sh, .btn {
    background: rgba(255, 255, 255, 0.5);
}

.p-userindex {
}

.spinner {
    width: 40px;
    height: 40px;

    position: fixed;
    left: 50%;
    top: 10px;
    /*margin: 100px auto;*/
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

.snackbar-container {
    background: red;
}

.bg-list {
    padding-top: 4em;
}

footer {
    position: fixed;
    left: 46%;
    bottom: 30px;
    color: rgba(200, 200, 200, 0.5);
    font-size: 10px;
}

.blocker {
    z-index: -1;
    /*background: url(/);*/
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    filter: url(blur.svg#blur);
    -webkit-filter: blur(3px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */

}

.alert {
    opacity: 0.5;
    border-radius: 8px;
    border: 0;
}

.btn {
    opacity: 0.8;
    border-radius: 2px;
    border: 0;
}

.p-userindex img {
    opacity: 0.8;
}

.p-userindex img:hover {
    opacity: 1;
}

.trselected {
    background: rgba(200, 200, 200, 1);
}

.hidden {
    display: none;
}

[class~=cs] {
    display: none;
}

.wl-nav {
    opacity: 0.9;
}

td {
    border: none;
    border-width: 0px;
    border-top: none;
}

.lf-nav {
    z-index: 13;
    background: rgba(46, 75, 89, 0.7);
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.wl-nav {
    z-index: 10;
}

.wl-bc {
    top: 80px;
    display: inline-block;
    overflow: inherit;
}

.logo {
    padding-top: 5px;
    font-family: "微软雅黑";
    text-align: center;
    font-size: 35px;
    height: 60px;
    color: white;
}

.lf-nav-button {
    margin-top: 20px;
}

nbutton {
    margin-top: 5px;
    padding-left: 5px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    left: 10px;
    height: 40px;
    color: white;
}

nbutton > [class^=mdi-] {
    position: relative;
    left: 1px;
    top: 3px;
    line-height: 40px;
}

nbutton span {
    position: relative;
    left: 10px;
    top: -3px;
    padding-left: 5px;
    font-family: "Consolas", "微软雅黑";
    line-height: 40px;

}

nline {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 0;
    border-top-width: thin;
    border-top-color: rgb(80, 80, 80);
    border-top-style: dashed;

}

nbutton:hover, nbutton.active {
    background: rgb(46, 75, 89);
}

.trselected {
    border-left: indigo;
    border-left-style: solid;
    border-left-width: 5px;
    border-right: indigo;
    border-right-style: solid;
    border-right-width: 5px;
}

.dev-token {
    font-family: "Consolas";
    font-size: 35px;
    text-overflow: ellipsis;
}

.dev-time {
    color: silver;
    font-size: 13px;
}

code {
    font-family: "Consolas", "Microsoft YaHei";
}

button.active {
    border-bottom-color: rgb(96, 125, 139);
    border-bottom-style: groove;
    border-bottom-width: 3px;
}

button.tab-button {
    min-width: 33%;
}

.list-group-item-text {
    font-size: 15px;
}

.r-infoarea {
    text-overflow: clip;
    font-family: "Consolas";
    color: #743A3A;
    font-size: 35px;

}

.r-infoarea2 {
    text-overflow: clip;
    font-family: "Consolas";
    color: #743A3A;
    font-size: 50px;
}

.tn {
    font-size: 15px;
}

.obj-main {
    display: none;
}

.lf-nav {
    animation-duration: 0.5s;
}

.lfnavopen {
    z-index: 12;
    position: fixed;
    top: 0;
    left: 20px;
    height: 60px;
    width: 60px;

}

.lfnavopen i {
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    color: white;
}

.littleval {
    text-align: right;
    font-size: 40px;
    font-family: "Consolas", "微软雅黑";
}

.senbox {
    width: 23%;
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 10px 10px;
    border-width: thin;
    border-style: solid;
    border-color: rgba(100, 100, 100, 0.3);
    height: 300px;
}

.senbox-flash {
    width: 23%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    height: 300px;
}

.ss-sendata {
    font-size: 60px;
}

.file-action {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    left: 0;
}